body{
    background-color: aqua;
}
label{ 
  
    color: black;
    background-color:red ;
}
input{
    border-radius: 50;
}
button:hover{
    color: black;
    background-color: aquamarine;
}