
div{
    margin: 10px;
    border: 1px solid #010102;
    font-size: 20px;
    height: 80px;
}


#header{
  background-color:#ccc ;
}
#leftsidebar{
    background-color: #ccc;
    float: left;
    width: 150px;
    height: 690px;
}
#rightsidebar{
    background-color: #ccc;
    float: right;
    width: 150px;
    height: 690px;
}
#main{
    background-color: #ccc;
    height: 650px;
    margin-left: 190px;
    margin-right: 190px;
    background-image: url(https://avatars.mds.yandex.net/i?id=b6c5c87efbc2168b698b75fa1c089cd7_l-5233844-images-thumbs&n=13);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1200px;
}
#footer{
    background-color: #ccc;
    height: 100px;
    
    
}
.topnav{
    overflow: hidden;
    border: none;
}
.topnav a{
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover{
    background-color: #ddd;
    color: black;
}
.topnav a.active{
    background-color: green;
    color: white;
}
img{
    border-radius: 40%;
    width: 50%;
}

p{
    font-size: 15px;
   

}
